# 测试工具
pytest
pytest-cov
pytest-mock
iniconfig
pluggy
coverage

# 代码检查工具
flake8
pycodestyle
pyflakes
mccabe
bandit
mypy
pylint

# 代码格式化工具
black
isort

# 文档生成工具
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
Pygments
sphinxcontrib-napoleon

# Git 钩子工具
pre-commit

# 依赖管理工具
pip-tools
setuptools
wheel

# 实用库
packaging
six
typing_extensions
click

# 调试工具
ipython

# 其他开发工具
tox
tox-pyenv
